@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --gold1:#f4bd76;
    --gold2:#f6cd8f;
    --gray1:#ffffff80;
    --gray2:#f7d9d980;
    --black1:#1a1b1f;
    --black2:#30353b;
    --shadow:0 8px 8px;
    --color-shadow:#00000033;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #30353b, #1a1b1f 100%);
}

.nav-hero{
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo-name{
    font-size: 24px;
}

.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

.link-active{
    color: var(--gold1);
    font-weight: 700;
}

.point{
    color: var(--gold1);
}

.hero-main{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.mockup{
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
}

.hero-textos{
    width: 48%;
}
.titulo{
    font-size: 80px;
    font-weight: 300;
    color: #fff;
    text-shadow: var(--shadow) var(--color-shadow);
}

.letra1{
    color: var(--gold1);
    font-weight: 700;
}

.copy{
    font-size: 20px;
    color: var(--gold2);
    text-shadow: var(--shadow) var(--color-shadow);
    margin: 15px 0;
}

.copy-active{
    font-weight: 700;
}


/* CONTENEDOR de logueo */

.logueo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #655b5b;
    border-radius: 6px;
}

.button-login {
    width: 100%;
    padding: 10px;
    background-color: var(--gold1);
    color: #020202;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.button-login:hover {
    background-color: #0056b3;
}